@import 'common/import';

#dashGraphicWrapper {
  height: 3883px;
  width: 5020px;
  position: absolute;
  top: 50%;
  left: 50%;

  #dashGraphic {
    background-image: url("../images/dash.jpg");
    height: 100%;
    width: 100%;
    position: absolute;
    top: -45%;
    left: -56%;

    #appContainerWrapper {
      position: absolute;
      width: $width;
      height: $height;
      background-color: $background;
      top: 28.75%;
      left: 48.5%;

      #appContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      #bezelOverlayWrapper {
        @include position(0, 0, 100%, 100%, 1000);
        @include svgColor($bezel);
        pointer-events: none;
      }
    }
  }
}

.production {
  #dashGraphicWrapper {
    #dashGraphic {
      position: fixed;
      top: 0;
      left: 0;

      #appContainerWrapper {
        position: initial;

        #bezelOverlayWrapper {
          display: none;
        }
      }
    }
  }
}