@import 'common/import';
@import 'dash';
@import 'components/import';
@import 'climateControl/import';
//@import 'components/list';
//@import 'components/slider';
//@import 'home/home';

body, html {
  background-color: $bezel;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: opacity .5s ease;
}

* {
  -webkit-box-sizing: border-box;
  -webkit-user-select: none !important;
  user-select: none !important;
}

svg {
  position: absolute;

  @include svgColor();
}

.hide {
  display: none;
}

#eventCatchers {
  @include svgColor(rgba(0, 0, 0, 0));
}

