@import 'common/import';
@import 'dash';
//@import 'components/app';
//@import 'components/list';
//@import 'components/slider';
//@import 'home/home';

body, html {
  background-color: $background;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  -webkit-box-sizing:border-box
}

.hide {
  display: none;
}