<?xml version="1.0" encoding="UTF-8" standalone="no"?><widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0.0" id="UWCenterStack">
    <name>UWCenterStack</name><!-- Set by deployment app -->
    <author>University of Washington</author>
    <description>UW EcoCAR2 team Center Stack App</description>
    <icon src="resources/icons/Icon.png"/>
    <content src="index.html"/> <!-- Set by deployment app -->
    <rim:permissions>
        <rim:permit>access_shared</rim:permit>
    </rim:permissions>
    <access uri="http://localhost" />
    <access uri="file:///" />
    <access uri="*"/>
</widget>
