body {
	margin: 0px;
	padding: 0px;
	background-image: url("bg.png");
	background-size: 100% 100%;
}

#apps {
	height: 330px;
	width: 935px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-left: 115px;
	margin: auto;
	padding-top: 115px;
	padding-bottom: 115px;
}

.app {
	float: left;
	width: 500px;
	height: 500px;
	margin: -115px;
}

.app img {
	width: 400px;
	margin: 50px;
}