#climate {
    height: 100%;
}

#climateHomeButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px 0;
    background-color: $darkGray;
}

#tempButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -1440px;
    background-color: $darkGray;
}

#fanButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -990px;
    background-color: $darkGray;
}

#seatButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -900px;
    background-color: $darkGray;
}

#ventButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -2430px;
    background-color: $darkGray;
}

#passDriverSwitch {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -1530px;
    background-color: $darkGray;
}

#acButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -1080px;
    background-color: $darkGray;
}

#defrostButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -1170px;
    background-color: $darkGray;
}

#circulateButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -1350px;
    background-color: $darkGray;
}

#autoButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -1260px;
    background-color: $darkGray;
}

/* Active Buttons */

#tempButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -1440px;
}

#fanButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -990px;
}

#seatButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -900px;
}

#ventButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -2430px;
}

#passDriverSwitch.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -1530px;
}

#acButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -1080px;
}

#defrostButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -1170px;
}

#circulateButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -1350px;
}

#autoButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -1260px;
}



#face, #feetFace, #feetDefrost, #feet {
    width: 90px;
    height: 90px;
}

#face {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -2520px;
}

#feetFace {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -2430px;
}

#feet {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -2610px;
}

#feetDefrost {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -2700px;
}

.selected>#face {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -180px -2520px;
}

.selected>#feetFace {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -180px -2430px;
}

.selected>#feet {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -180px -2610px;
}

.selected>#feetDefrost {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -180px -2700px;
}