#climate {
    height: 100%;
}

#climateHomeButton {
    @include sprite(1, 0);
}

#tempButton {
    @include sprite(1, 16);
}

#fanButton {
    @include sprite(1, 11);
}

#seatButton {
    @include sprite(1, 10);
}

#ventButton {
    @include sprite(1, 27);
}

#passDriverSwitch {
    @include sprite(1, 17);
}

#acButton {
    @include sprite(1, 12);
}

#defrostButton {
    @include sprite(1, 13);
}

#circulateButton {
    @include sprite(1, 15);
}

#autoButton {
    @include sprite(1, 14);
}

/* Active Buttons */

#tempButton.clickedButton {
    @include sprite(0, 16, $black);
}

#fanButton.clickedButton {
    @include sprite(0, 11, $black);
}

#seatButton.clickedButton {
    @include sprite(0, 10, $black);
}

#ventButton.clickedButton {
    @include sprite(0, 27, $black);
}

#passDriverSwitch.clickedButton {
    @include sprite(0, 17, $black);
}

#acButton.clickedButton {
    @include sprite(0, 12, $black);
}

#defrostButton.clickedButton {
    @include sprite(0, 13, $black);
}

#circulateButton.clickedButton {
    @include sprite(0, 15, $black);
}

#autoButton.clickedButton {
    @include sprite(0, 14, $black);
}

#face, #feetFace, #feetDefrost, #feet {
    width: $buttonSize;
    height: $buttonSize;
    background-color: $black !important;
    border: none;
    margin-top: 60px;
}

#face {
    @include sprite(1, 28);
}

#feetFace {
    @include sprite(1, 27);
}

#feet {
    @include sprite(1, 29);
}

#feetDefrost {
    @include sprite(1, 30);
}

.selected > #face {
    @include sprite(2, 28);
}

.selected >  #feetFace {
    @include sprite(2, 27);
}

.selected > #feet {
    @include sprite(2, 29);
}

.selected > #feetDefrost {
    @include sprite(2, 30);
}