@mixin dial-sprite($size, $bgPosition) {
	height: $size;
	width: $size;
	background: url('../icons/graphics/#{$dialSprite}') 0px $bgPosition;
	position: absolute;
}

@mixin dial-position($top, $left, $size) {
	top: $top;
	left: $left;
	height: $size;
	width: $size;
	position: absolute;
}

#selectorList {
	/*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.01)), color-stop(30%, rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
	background-color: $black;
	height: 100%;
	width:  100%;
	text-align: left;
}



.selectorlistitem {
	text-transform: lowercase;
	margin: 20px;
	color: $mediumGray;
}

#dial {
	top: $dialTop;
	left: $dialLeft;
	width: $outerDialSize;
	height: $outerDialSize;
}

#dial-inner-slider {
	position: absolute;
	top: ($outerDialSize - $innerDialSize) / 2;
	left: ($outerDialSize - $innerDialSize) / 2;
	width: $innerDialSize;
	height: $innerDialSize;
}

#dial-outer-slider {
	position: absolute;
	top: 0px;
	left: 0px;
	width: $outerDialSize;
	height: $outerDialSize;
}

#selectButton {
	top: $selectButtonTop;
	left: $selectButtonLeft;
}

#music {
	height: 100%;
}

.selected {
	color: $green;
}

/* Defualt to paused state */
#playPause {
	top: $playPauseTop;
	left: $playPauseLeft;
    @include sprite(1, 25, none);
}

#playPause:hover {
    @include sprite(0, 25, none);
}

#playPause.playButton {
    @include sprite(1, 24, none);
}

#playPause.playButton:hover {
    @include sprite(0, 24, none);
}

.blink {
	-webkit-animation-name: blink;
	-webkit-animation-duration: .3s;
	-webkit-animation-iteration-count: 4;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: .4;
	}
}

.circleButton {
	font-size: 30pt;
	color: $lightGray;
	text-align: center;
	line-height: 100px;
	&:hover {
		color: $white;
	}
	.dataDisplay {
		height:100px;
		width:80px;
		text-align:center;
		line-height: 60px;
		margin: auto;
	}
	.select {
		height: 100px;
	}
}

.front, .back, .slice1, .slice2, .slider-background {
	position: absolute;
	width: 100%;
	height: 100%;
}

#dial-dial {
	@include dial-sprite($outerDialSize, 0);
}

#dial-outer-slider .slider-background {
	@include dial-sprite($outerDialSize, -408px);
}

#dial-inner-slider .slider-background {
	@include dial-sprite($innerDialSize, -1112px);
}

#dial-inner-slider .slice1, #dial-inner-slider .slice2 {
	@include dial-sprite($innerDialSize, -816px);
}

#dial-outer-slider .slice1, #dial-outer-slider .slice2 {
	@include dial-sprite($outerDialSize, 0px);
}

#selectButton, #dial, #playPause {
	position: fixed !important;
}