#selectorList {
	/*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.01)), color-stop(30%, rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
	background-color: $black;
	height: 100%;
	width:  100%;
	text-align: left;
}

.selectorlistitem {
	text-transform: lowercase;
	margin: 20px;
	color: $mediumGray;
}

#music {
	height: 100%;
}

.selected {
	color: $green;
}

#playPause {
	background-image: url(../icons/graphics/Music/pause_inactive.png);
	background-size: contain;
}

#playPause:hover {
	background-image: url(../icons/graphics/Music/pause_active.png)
}

.playButton {
	background-image: url(../icons/graphics/Music/play_inactive.png) !important
}

.playButton:hover {
	background-image: url(../icons/graphics/Music/play_active.png) !important
}

.blink {
	-webkit-animation-name: blink;
	-webkit-animation-duration: .1s;
	-webkit-animation-iteration-count: 4;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.circleButton {
	font-size: 30pt;
	color: $lightGray;
	text-align: center;
	line-height: 100px;
	&:hover {
		color: $white;
	}
	.dataDisplay {
		height:100px;
		width:80px;
		text-align:center;
		line-height: 60px;
		margin: auto;
	}
	.select {
		height: 100px;
	}
}

.front, .back, .slice1, .slice2, .slider-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: contain;
}

.outer-slider .slider-background {
	background-image:url(../icons/graphics/outer_circle_background.png);
}

.inner-slider .slider-background {
	background-image:url(../icons/graphics/inner_circle_background.png);
}

.inner-slider .slice1, .inner-slider .slice2 {
	background-image:url(../icons/graphics/inner_circle.png);
}

.outer-slider .slice1, .outer-slider .slice2 {
	background-image:url(../icons/graphics/outer_circle.png);
}

#selectButton, #dial, #playPause {
	position: fixed !important;
}