@mixin absolute-bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#climateContainer, #musicContainer, #appContainer {
    background-color: $black;
    font-family: 'Univers', sans-serif;
}

.x-button {
    margin: 5px 5px 0px 5px;
    width: $buttonSize;
    height: $buttonSize;
    border: none;
    border-radius: 0;
    background-color: $darkGray;
    background-image: none;
    color: $mediumGray;

    .x-button-label {
        @include absolute-bottom-left;
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
}

.x-button.x-button-pressing,
.x-button.clickedButton {
    background-color: $black;
    background-image: none;

    .x-button-label {
        color: $purple;
    }
}

#alreadyHome.clickedButton {
    background-image: url('../icons/graphics/Home/home_active.png');
}

#musicAppButton {
    background-image: url('../icons/graphics/Home/music_inactive.png');
}

#climateAppButton {
    background-image: url('../icons/graphics/Home/climate_inactive.png');
}

#diagnosticsAppButton {
    background-image: url('../icons/graphics/Home/diagnostics_inactive.png');
}

#appsButton {
    background-image: url('../icons/graphics/Home/apps_inactive.png');
}

#leftNav, #rightNav {
    position: absolute;
}

#leftNav {
    z-index: 500;
}

#rightNav {
    right: 0px;
    z-index: 501;
}

/* Active Buttons */
.x-button.clickedButton .x-button-icon.x-button-icon.home {
    background-image: url('../icons/graphics/Home/Home_active.png');
}
