@mixin absolute-bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

@mixin sprite($xIcon, $yIcon, $bgColor: $darkGray) {
    size: $buttonSize;
    background: url('../icons/graphics/#{$iconSprite}');
    background-position-x: -$buttonSize * $xIcon;
    background-position-y: -$buttonSize * $yIcon;
    background-color: $bgColor;
}

#climateContainer, #musicContainer, #appContainer {
    background-color: $black;
    font-family: 'Univers', sans-serif;
}

#dateTime>.x-inner>.x-innerhtml>span {
    font-size: 40pt;
}

#dateTime>.x-inner>.x-innerhtml {
    font-size: 18pt;
    color: $green;
}

#logo {
    background-image: url('../icons/graphics/team_logo.png');
    background-size: 500px 118px;
    width: 500px;
    height: 118px;
}

.x-button {
    margin: 5px 22px 0px 16px;
    width: $buttonSize;
    height: $buttonSize;
    border: none;
    border-radius: 0;
    background-color: $darkGray;
    background-image: none;
    color: $mediumGray;

    .x-button-label {
        @include absolute-bottom-left;
        font-size: $buttonLabelSzie;
        text-align: center;
        width: 100%;
    }
}


.x-button.x-button-pressing,
.x-button.clickedButton {
    background-color: $darkGray;
}



#musicAppButton {
    @include sprite(1, 20);
}

#climateAppButton {
    @include sprite(1, 19);
}

#diagnosticsAppButton {
    @include sprite(1, 21);
}

#appsButton {
    @include sprite(1, 18);
}

#leftNavHome, #leftNavMusic, #leftNavClimate, #rightNavMusic, #rightNavClimate {
    position: absolute;
}

#leftNavHome, #leftNavMusic, #leftNavClimate {
    z-index: 500;
}

#rightNavMusic, #rightNavClimate {
    right: 0px;
    z-index: 501;
}
#alreadyHome {
    @include sprite(0, 0, $black);
}
