@mixin absolute-bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

img.sprite {
    width: 270px;
    height: 2790px;
    background:url(../icons/graphics/icon_sprite.png) 0 0;
}

#climateContainer, #musicContainer, #appContainer {
    background-color: $black;
    font-family: 'Univers', sans-serif;
}

#dateTime>.x-inner>.x-innerhtml>span {
    font-size: 40pt;
}

#dateTime>.x-inner>.x-innerhtml {
    font-size: 18pt;
    color: $green;
}

#logo {
    background-image: url('../icons/Graphics/Home/teamLogo.png');
    background-size: 600px 142px;
    width: 600px;
    height: 142px;
}

.x-button {
    margin: 3px 3px 0px 0px;
    width: $buttonSize;
    height: $buttonSize;
    border: none;
    border-radius: 0;
    background-color: $darkGray;
    background-image: none;
    color: $mediumGray;

    .x-button-label {
        @include absolute-bottom-left;
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
}

.x-button.x-button-pressing,
.x-button.clickedButton {
    background-color: $black;
    background-image: none;
}

#alreadyHome.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 0;
}

#musicAppButton.x-button {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -1800px;
    background-color: $darkGray;
}

#climateAppButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -1710px;
    background-color: $darkGray;
}

#diagnosticsAppButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -1890px;
    background-color: $darkGray;
}

#appsButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -1620px;
    background-color: $darkGray;
}

#alreadyHome.x-button.x-button-pressing,
.x-button.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -90px;
}