/*
Music app specific styles
*/

#nowPlayingData, #selectedData {
    color: $lightGray;
    font-stretch: condensed;
    text-align: right;
    width: 400px;
    height: 200px;
    font-size: 16.5pt;
}

#nowPlayingTag {
    font-style: italic;
    font-size: 8pt;
    width: 150px;
}

#nowPlayingData {
    @include position(84px, 44px);
}

#nowPlayingData span {
    color: $green;
}

#selectedData {
    @include position(130px, 710px);
    font-size: 10pt;
    padding-right: 4px;
}

#selectedData span {
    font-size: 11pt;
    font-style: italic;
}

#centerInfo {
    width: 40%;
    height: 40%;
}

#nowPlaying .x-button-label {
    position: absolute;
    top: 30%;
    text-align: center;
    width: $buttonSize;
}

#nowPlaying.clickedButton .x-button-label  {
    color: $purple;
}

#nowPlaying {
    background-image: none !important
}

#fadeImage {
    background-image: url('../images/fade_right.png');
}

/*
#appName>.x-inner>.x-innerhtml {
    color: #44FF44;
}

#appName {
    width: 30%;
    height: 20%;
    text-align: right;
    margin-right: 10px;
    font-size: 72pt;
    font-weight: bold;
    opacity: .4;
}
*/

#musicHomeButton {
    @include sprite(1, 0);
}

#artistButton {
    @include sprite(1, 1);
}

#albumButton {
    @include sprite(1, 3);
}

#songButton {
    @include sprite(1, 2);
}

#playlistButton {
    @include sprite(1, 4);
}

#repeatButton {
    @include sprite(1, 8);
}

#shuffleButton {
    @include sprite(1, 9);
}

#bassButton {
    @include sprite(1, 7);
}

#trebleButton {
    @include sprite(1, 6);
}

/* Active Buttons */

#artistButton.clickedButton {
    @include sprite(0, 1, $black);
}

#albumButton.clickedButton {
    @include sprite(0, 3, $black);
}

#songButton.clickedButton {
    @include sprite(0, 2, $black);
}

#playlistButton.clickedButton {
    @include sprite(0, 4, $black);
}

#repeatButton.clickedButton {
    @include sprite(0, 8, $black);
}

#shuffleButton.clickedButton {
    @include sprite(0, 9, $black);
}

#bassButton.clickedButton {
    @include sprite(0, 7, $black);
}

#trebleButton.clickedButton {
    @include sprite(0, 6, $black);
}