/*
Music app specific styles
*/

#nowPlayingData, #selectedData {
    color: $lightGray;
    font-stretch: condensed;
    text-align: right;
    width: 400px;
    height: 200px;
    font-size: 16.5pt;
}

#nowPlayingTag {
    font-style: italic;
    font-size: 8pt;
    width: 150px;
}

#nowPlayingData span {
    color: $green;
}

#selectedData {
    font-size: 10pt;
    padding-right: 4px;
}

#selectedData span {
    font-size: 11pt;
    font-style: italic;
}

#centerInfo {
    width: 40%;
    height: 40%;
}

#nowPlaying .x-button-label {
    position: absolute;
    top: 30%;
    font-size: 14px;
    text-align: center;
    width: $buttonSize;
}

#nowPlaying.clickedButton .x-button-label  {
    color: $purple;
}

#fadeImage {
    background-image: url('../images/fade_right.png');
}

/*
#appName>.x-inner>.x-innerhtml {
    color: #44FF44;
}

#appName {
    width: 30%;
    height: 20%;
    text-align: right;
    margin-right: 10px;
    font-size: 72pt;
    font-weight: bold;
    opacity: .4;
}
*/

#musicHomeButton {
    background-image: url('../icons/graphics/Home/home_inactive.png');
}

#artistButton {
    background-image: url('../icons/graphics/Music/artists_inactive.png');
}

#albumButton {
    background-image: url('../icons/graphics/Music/albums_inactive.png');
}

#songButton {
    background-image: url('../icons/graphics/Music/songs_inactive.png');
}

#playlistButton {
    background-image: url('../icons/graphics/Music/playlists_inactive.png');
}

#repeatButton {
    background-image: url('../icons/graphics/Music/repeat_inactive.png');
}

#shuffleButton {
    background-image: url('../icons/graphics/Music/shuffle_inactive.png');
}

#bassButton {
    background-image: url('../icons/graphics/Music/bass_inactive.png');
}

#trebleButton {
    background-image: url('../icons/graphics/Music/treble_inactive.png');
}

/* Active Buttons */

#artistButton.clickedButton {
    background-image: url('../icons/graphics/Music/artists_active.png');
}

#albumButton.clickedButton {
    background-image: url('../icons/graphics/Music/albums_active.png');
}

#songButton.clickedButton {
    background-image: url('../icons/graphics/Music/songs_active.png');
}

#playlistButton.clickedButton {
    background-image: url('../icons/graphics/Music/playlists_active.png');
}

#repeatButton.clickedButton {
    background-image: url('../icons/graphics/Music/repeat_active.png');
}

#shuffleButton.clickedButton {
    background-image: url('../icons/graphics/Music/shuffle_active.png');
}

#bassButton.clickedButton {
    background-image: url('../icons/graphics/Music/bass_active.png');
}

#trebleButton.clickedButton {
    background-image: url('../icons/graphics/Music/treble_active.png');
}