/*
Music app specific styles
*/

#nowPlayingData, #selectedData {
    color: $lightGray;
    font-stretch: condensed;
    text-align: right;
    width: 400px;
    height: 200px;
    font-size: 16.5pt;
}

#nowPlayingTag {
    font-style: italic;
    font-size: 8pt;
    width: 150px;
}

#nowPlayingData span {
    color: $green;
}

#selectedData {
    font-size: 10pt;
    padding-right: 4px;
}

#selectedData span {
    font-size: 11pt;
    font-style: italic;
}

#centerInfo {
    width: 40%;
    height: 40%;
}

#nowPlaying .x-button-label {
    position: absolute;
    top: 30%;
    font-size: 14px;
    text-align: center;
    width: $buttonSize;
}

#nowPlaying.clickedButton .x-button-label  {
    color: $purple;
}

#nowPlaying {
    background-image: none !important
}

#fadeImage {
    background-image: url('../images/fade_right.png');
}

/*
#appName>.x-inner>.x-innerhtml {
    color: #44FF44;
}

#appName {
    width: 30%;
    height: 20%;
    text-align: right;
    margin-right: 10px;
    font-size: 72pt;
    font-weight: bold;
    opacity: .4;
}
*/

#musicHomeButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px 0;
    background-color: $darkGray;
}

#artistButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -90px;
    background-color: $darkGray;
}

#albumButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -270px;
    background-color: $darkGray;
}

#songButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -180px;
    background-color: $darkGray;
}

#playlistButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -360px;
    background-color: $darkGray;
}

#repeatButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -720px;
    background-color: $darkGray;
}

#shuffleButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -810px;
    background-color: $darkGray;
}

#bassButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -630px;
    background-color: $darkGray;
}

#trebleButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') -90px -540px;
    background-color: $darkGray;
}

/* Active Buttons */

#artistButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -90px;
}

#albumButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -270px;
}

#songButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -180px;
}

#playlistButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -360px;
}

#repeatButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -720px;
}

#shuffleButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -810px;
}

#bassButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -630px;
}

#trebleButton.clickedButton {
    width: 90px;
    background:url('../icons/graphics/icon_sprite.png') 0 -540px;
}