$buttonSize: 113px;
$iconSprite: 'icon_sprite_playbook.png';
$buttonLabelSzie: 16px;

$dialSprite: 'dial_sprite.png';

$outerDialSize: 408px;
//$outerDialTop: 205px;
//$outerDialLeft: 170px;
$dialTop: 178px;
$dialLeft: 141px;

$innerDialSize: 296px;
//$innerDialTop: 258px;
//$innerDialLeft: 225px;

$selectButtonTop: 334px;
$selectButtonLeft: 304px;

$playPauseTop: 328px;
$playPauseLeft: 289px;
