body, html, .app {
	width : 800px;
	height : 1200px;
}

.app.open {
	display: block;
}

.app {
	display: none;
	position: absolute;
	top: 0px;


	.controls-container {
		position: absolute;
		height: 50%;
		width: 100%;
		bottom: 0px;

		.buttons-container, .sliders-container {
			height: 100%;
			position: relative;
			display: inline-block;
			vertical-align: top;
		}


		.left, .right {
			width: 10%;
		}

		.center {
			width: 80%;
		}
	}
}