.curvySlider {
  position: absolute;
  pointer-events: none; }
  .curvySlider .curvySliderHandle {
    position: absolute;
    background-color: black;
    border-radius: 100%;
    pointer-events: all; }

body {
  -webkit-user-select: none; }
