body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color:black;
	overflow: hidden;
}

#coord {
	position: absolute;
	display: inline;
	width: 100%;
	margin: 0px;
}

#parent {
	background-image: url(bg.jpeg);
}

div {
	position: absolute;
}
