@import '../common/import';

$clockLinesLength: 13px;
$clockLinesThickness: 2px;
$clockLinesColor: $green;
//$clockHeight: 60px;
$clockWidth: 180px;
$clockTop: 135px;
#clock {
  @include positionCenteredHorizontal($clockTop, $clockWidth, 0);
  @include alrightSans('regular', $fontSizeClock);
  text-align: center;

  .topLeftLines {
    @include position(-$clockLinesLength, -$clockLinesLength, $clockLinesLength, $clockLinesLength);
    border-top: $clockLinesThickness solid $clockLinesColor;
    border-left: $clockLinesThickness solid $clockLinesColor;
  }

  .bottomRightLines {
    @include positionBottomRight(-$clockLinesLength, -$clockLinesLength, $clockLinesLength, $clockLinesLength);
    border-bottom: $clockLinesThickness solid $clockLinesColor;
    border-right: $clockLinesThickness solid $clockLinesColor;
  }

  .title {
    @include alrightSans('bold', $fontSizeClock - 4);
    text-align: right;
  }
}