@import '../common/import';

$currentMusicCoverSize: 71px;
$currentMusicLeft: 30%;
$currentMusicTop: 20%;
$currentMusicMargin: 18px;

.currentMusicSelection {
  position: absolute;
  left: $currentMusicTop;
  top: $currentMusicLeft;

  .labels {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    div {
      margin-bottom: 20px;
    }
    .playList {
      @include alrightSans('Bold', $fontSizeCurrentSelection);
      text-transform:uppercase;      
    }

    .artist {
      @include alrightSans('Bold', $fontSizeCurrentSelection);
      text-transform:uppercase;
    }

    .album {
      @include alrightSans('Bold', $fontSizeCurrentSelection);
      text-transform:uppercase;
    }
  }
}