@import '../common/import';

.list {
  position: absolute;
  width: 200px;
  margin-top: 300px;
  margin-left: 40px;
  transition: top 0.2s ease-out;

  .listItem {
    height: 104px;
    transition: all 0.2s ease-out;
    padding-bottom: 40px;
    @include alrightSans('light', $fontSizeListItem);

    &.selected {
      margin-top: 20px;
      padding-bottom: 60px;
      @include alrightSans('bold', $fontSizeListItem);
    }
  }
}