@import '../common/import';

$topIconTop: 18px;
$bottomIconTop: 36px;
$leftIconLeft: 310px;
$rightIconRight: $leftIconLeft;

$leftInputIconTop: 122px;
$leftInputIconLeft: 40px;
$rightInputIconTop: $leftInputIconTop;
$rightInputIconRight: $leftInputIconLeft;

$leftInputLabelTop: 134px;
$leftInputLabelLeft: 40px;
$rightInputLabelTop: $leftInputLabelTop;
$rightInputLabelRight: $leftInputLabelLeft;

$topZonesHeight: 103px;
$bottomZonesHeight: $topZonesHeight;
$sliderHeight: 107px;
$sliderMaskHeight: 200px;
$topZoneTop: 0px;
$mainZoneTop: 10px;
$volumeSliderZoneTop: 531px;
$inputZone1Top: $volumeSliderZoneTop + $sliderHeight;
$inputZone2Top: $inputZone1Top + $sliderHeight;
$inputZone3Top: $inputZone2Top + $sliderHeight;
$inputZone4Top: $inputZone3Top + $sliderHeight;
$inputZone5Top: $inputZone4Top + $sliderHeight;
$bottomZonesTop: 1177px;

.icon {
  @include square($iconSize);

  > svg > * {
    stroke: $gray;

    &:not([fill="none"]) {
      fill: $gray;
      stroke: none;
    }
  }

  &.active > svg > * {
    stroke: $green;
  }

  &.inactive > svg > * {
    opacity: 0.5;
  }

  &.iconRight {
    @include positionRight($rightInputIconTop, $rightInputIconRight);
  }

  &.iconLeft {
    @include position($leftInputIconTop, $leftInputIconLeft);
  }
}

.label {
  @include alrightSans('medium', $fontSizeButtonLabel, $gray);

  &.labelLeft {
    @include position($leftInputLabelTop, $leftInputLabelLeft);
  }

  &.labelRight {
    text-align: right;
    @include positionRight($rightInputLabelTop, $rightInputLabelRight);
  }

  &.selected {
    color: $green;
  }

}

#backgroundIconContent {
  position: absolute;
  top: 30%;
  right: 30%;
  width: 0;
  height: 0;
  opacity: .1;

  svg {
    -webkit-transform: scale(15);
  }
}

#backButtonZoneContent {
  @include mask('backButtonZoneMask', $topZoneTop, 0px, $width/2, $topZonesHeight);

  .icon {
    @include position($topIconTop, $leftIconLeft);
  }
}

#homeButtonZoneContent {
  @include mask('homeButtonZoneMask', $topZoneTop, $width/2, $width/2, $topZonesHeight);

  .icon {
    @include positionRight($topIconTop, $rightIconRight);
  }
}

#mainZoneContent {
  @include mask('mainZoneMask', $mainZoneTop, 0px, $width, 614px);
}

#volumeSliderZoneContent {
  @include mask('volumeSliderZoneMask', $volumeSliderZoneTop, 0px, $width, $sliderMaskHeight);
}

#inputZone1Content {
  @include mask('inputZone1Mask', $inputZone1Top, 0px, $width, $sliderMaskHeight);
}

#inputZone2Content {
  @include mask('inputZone2Mask', $inputZone2Top, 0px, $width, $sliderMaskHeight);
}

#inputZone3Content {
  @include mask('inputZone3Mask', $inputZone3Top, 0px, $width, $sliderMaskHeight);
}

#inputZone4Content {
  @include mask('inputZone4Mask', $inputZone4Top, 0px, $width, $sliderMaskHeight);
}

#inputZone5Content {
  @include mask('inputZone5Mask', $inputZone5Top, 0px, $width, $sliderMaskHeight);
}

#playPauseButtonZoneContent {
  @include mask('playPauseButtonZoneMask', $bottomZonesTop, 0px, $width/2, $bottomZonesHeight);

  .icon {
    @include position($bottomIconTop, $leftIconLeft);
  }
}

#nextButtonZoneContent {
  @include mask('nextButtonZoneMask', $bottomZonesTop, $width/2, $width/2, $bottomZonesHeight);

  .icon {
    @include positionRight($bottomIconTop, $rightIconRight);
  }
}