#climateHomeButton {
    background-image: url('../icons/graphics/Home/home_inactive.png');
}

#tempButton {
    background-image: url('../icons/graphics/Climate/temperature_inactive.png');
}

#fanButton {
    background-image: url('../icons/graphics/Climate/fan_inactive.png');
}

#seatButton {
    background-image: url('../icons/graphics/Climate/seats_inactive.png');
}

#ventButton {
    background-image: url('../icons/graphics/Climate/vent_inactive.png');
}

#passDriverSwitch {
    background-image: url('../icons/graphics/Climate/driver_active.png');
}

#acButton {
    background-image: url('../icons/graphics/Climate/ac_inactive.png');
}

#defrostButton {
    background-image: url('../icons/graphics/Climate/back_defrost_inactive.png');
}

#circulateButton {
    background-image: url('../icons/graphics/Climate/recirculate_inactive.png');
}

#autoButton {
    background-image: url('../icons/graphics/Climate/Treble_inactive.png');
}

/* Active Buttons */

#tempButton.clickedButton {
    background-image: url('../icons/graphics/Climate/temperature_active.png');
}

#fanButton.clickedButton {
    background-image: url('../icons/graphics/Climate/fan_active.png');
}

#seatButton.clickedButton {
    background-image: url('../icons/graphics/Climate/seats_active.png');
}

#ventButton.clickedButton {
    background-image: url('../icons/graphics/Climate/vent_active.png');
}

#passDriverSwitch.clickedButton {
    background-image: url('../icons/graphics/Climate/passenger_active.png');
}

#acButton.clickedButton {
    background-image: url('../icons/graphics/Climate/ac_active.png');
}

#defrostButton.clickedButton {
    background-image: url('../icons/graphics/Climate/back_defrost_active.png');
}

#circulateButton.clickedButton {
    background-image: url('../icons/graphics/Climate/recirculate_active.png');
}

#autoButton.clickedButton {
    background-image: url('../icons/graphics/Climate/Treble_inactive.png');
}
