/*
Music app specific styles
*/
#fadeImage {
    background-image: url('../images/fade_right.png');
}

#nowPlayingData, #selectedData {
    font-stretch: condensed;
    text-align: right;
    width: 400px;
    height: 200px;
    font-size: 16.5pt;
}

#nowPlayingData span {
    font-size: 16.5pt;
    color: #61ff78;
}

#nowPlayingTag {
    font-style: italic;
    font-size: 8pt;
    width: 150px;
}

#nowPlayingTag>.x-inner>.x-innerhtml {
    color: white;
}

#selectedData span {
    font-size: 11pt;
    font-style: italic;
}

#selectedData {
    font-size: 10pt;
    padding-right: 2px;
}

#centerInfo {
    width: 40%;
    height: 40%;
}

#appName>.x-inner>.x-innerhtml {
    color: #44FF44;
}

#appName {
    width: 30%;
    height: 20%;
    text-align: right;
    margin-right: 10px;
    font-size: 72pt;
    font-weight: bold;
    opacity: .4;

}

#musicHomeButton {
    background-image: url('../icons/graphics/Home/home_inactive.png');
}

#artistButton {
    background-image: url('../icons/graphics/Music/Artists_inactive.png');
}

#albumButton {
    background-image: url('../icons/graphics/Music/Albums_inactive.png');
}

#songButton {
    background-image: url('../icons/graphics/Music/Songs_inactive.png');
}

#playlistButton {
    background-image: url('../icons/graphics/Music/Playlists_inactive.png');
}

#repeatButton {
    background-image: url('../icons/graphics/Music/Repeat_inactive.png');
}

#shuffleButton {
    background-image: url('../icons/graphics/Music/Shuffle_inactive.png');
}

#bassButton {
    background-image: url('../icons/graphics/Music/Bass_inactive.png');
}

#trebleButton {
    background-image: url('../icons/graphics/Music/Treble_inactive.png');
}

/* Active Buttons */

#artistButton.clickedButton {
    background-image: url('../icons/graphics/Music/Artists_active.png');
}

#albumButton.clickedButton {
    background-image: url('../icons/graphics/Music/Albums_active.png');
}

#songButton.clickedButton {
    background-image: url('../icons/graphics/Music/Songs_active.png');
}

#playlistButton.clickedButton {
    background-image: url('../icons/graphics/Music/Playlists_active.png');
}

#repeatButton.clickedButton {
    background-image: url('../icons/graphics/Music/Repeat_active.png');
}

#shuffleButton.clickedButton {
    background-image: url('../icons/graphics/Music/Shuffle_active.png');
}

#bassButton.clickedButton {
    background-image: url('../icons/graphics/Music/Bass_active.png');
}

#trebleButton.clickedButton {
    background-image: url('../icons/graphics/Music/Treble_active.png');
}


#nowPlaying .x-button-label {
    position: absolute;
    top: 30%;
    font-size: 14px;
    text-align: center;
    width: 90px;
}

.x-button.clickedButton#nowPlaying > .x-button-label  {
    position: absolute;
    top: 30%;
    font-size: 14px;
    text-align: center;
    width: 90px;
    color: #61ff78;
}


/* data list styles */

.x-innerhtml {
    color: white;
}

.x-scroll-container {
    background-color: #231f20;
}

.x-list-normal .x-list-header-wrap .x-item-header, .x-list-normal .x-list-header {
    background-image: none;
    background-color: #231f20;
    border-top: none;
    border-bottom: none;
}

.x-dock, .x-dock-body {
    background-color: #404041;
}