/*
Music app specific styles
*/
#fadeImage {
    background-image: url('../images/fade_right.png');
}

#nowPlayingData, #selectedData {
    font-stretch: condensed;
    text-align: right;
    width: 400px;
    height: 200px;
    font-size: 16.5pt;
}

#nowPlayingData span {
    font-size: 16.5pt;
    color: #61ff78;
}

#nowPlayingTag {
    font-style: italic;
    font-size: 8pt;
    width: 150px;
}

#nowPlayingTag>.x-inner>.x-innerhtml {
    color: white;
}

#selectedData span {
    font-size: 11pt;
    font-style: italic;
}

#selectedData {
    font-size: 10pt;
    padding-right: 2px;
}

#centerInfo {
    width: 40%;
    height: 40%;
}

#appName>.x-inner>.x-innerhtml {
    color: #44FF44;
}

#appName {
    width: 30%;
    height: 20%;
    text-align: right;
    margin-right: 10px;
    font-size: 72pt;
    font-weight: bold;
    opacity: .4;

}



.x-button .x-button-icon.artists {
    background-image: url('../icons/graphics/Music/Artists_black-06.png');
}

.x-button .x-button-icon.albums {
    background-image: url('../icons/graphics/Music/Albums_black-06.png');
}

.x-button .x-button-icon.songs {
    background-image: url('../icons/graphics/Music/Songs_black-06.png');
}

.x-button .x-button-icon.playlists {
    background-image: url('../icons/graphics/Music/Playlists_black-06.png');
}

.x-button .x-button-icon.repeat {
    background-image: url('../icons/graphics/Music/Repeat_black-06.png');
}

.x-button .x-button-icon.shuffle {
    background-image: url('../icons/graphics/Music/Shuffle_black-06.png');
}

.x-button .x-button-icon.bass {
    background-image: url('../icons/graphics/Music/Bass_black-06.png');
}

.x-button .x-button-icon.treble {
    background-image: url('../icons/graphics/Music/Treble_black-06.png');
}

/* Active Buttons */

.x-button.clickedButton .x-button-icon.artists {
    background-image: url('../icons/graphics/Music/Artists_gray-06.png');
}

.x-button.clickedButton .x-button-icon.albums {
    background-image: url('../icons/graphics/Music/Albums_gray-06.png');
}

.x-button.clickedButton .x-button-icon.songs {
    background-image: url('../icons/graphics/Music/Songs_gray-06.png');
}

.x-button.clickedButton .x-button-icon.playlists {
    background-image: url('../icons/graphics/Music/Playlists_gray-06.png');
}

.x-button.clickedButton .x-button-icon.repeat {
    background-image: url('../icons/graphics/Music/Repeat_gray-06.png');
}

.x-button.clickedButton .x-button-icon.shuffle {
    background-image: url('../icons/graphics/Music/Shuffle_gray-06.png');
}

.x-button.clickedButton .x-button-icon.bass {
    background-image: url('../icons/graphics/Music/Bass_gray-06.png');
}

.x-button.clickedButton .x-button-icon.treble {
    background-image: url('../icons/graphics/Music/Treble_gray-06.png');
}


#nowPlaying .x-button-label {
    position: absolute;
    top: 30%;
    font-size: 14px;
    text-align: center;
    width: 90px;
}

.x-button.clickedButton#nowPlaying > .x-button-label  {
    position: absolute;
    top: 30%;
    font-size: 14px;
    text-align: center;
    width: 90px;
    color: #61ff78;
}


/* data list styles */

.x-innerhtml {
    color: white;
}

.x-scroll-container {
    background-color: #231f20;
}

.x-list-normal .x-list-header-wrap .x-item-header, .x-list-normal .x-list-header {
    background-image: none;
    background-color: #231f20;
    border-top: none;
    border-bottom: none;
}

.x-dock, .x-dock-body {
    background-color: #404041;
}