/*
old
    Dark gray: #231f20;
    Light gray: #918f90;
    Green: #61be78;

MOST RECENT

green: #75f295
dark gray #231f20
light gray #404041
purple #652d9
*/
body {
    background-color: white;
    color: black;
}

#pageContainer {
    background-color: #231f20;
    color: #44FF44;
    font-family: 'Univers', sans-serif;
}

#fadeImage {
    background-image: url('../images/fade_right.png');
}

#nowPlayingData, #selectedData {
    font-stretch: condensed;
    text-align: right;
    width: 400px;
    height: 200px;
    font-size: 16.5pt;
}

#nowPlayingData span {
    font-size: 16.5pt;
    color: #61ff78;
}

#nowPlayingTag {
    font-style: italic;
    font-size: 8pt;
    width: 150px;
}

#nowPlayingTag>.x-inner>.x-innerhtml {
    color: white;
}

#selectedData span {
    font-size: 11pt;
    font-style: italic;
}

#selectedData {
    font-size: 10pt;
    padding-right: 2px;
}

#centerInfo {
    width: 40%;
    height: 40%;
}

#appName>.x-inner>.x-innerhtml {
    color: #44FF44;
}

#appName {
    width: 30%;
    height: 20%;
    text-align: right;
    margin-right: 10px;
    font-size: 72pt;
    font-weight: bold;
    opacity: .4;

}

/* Button icon styles */
.x-button .x-button-icon.appspurple, .x-button .x-button-icon.appsgreen,
.x-button .x-button-icon.artistUnclicked, .x-button .x-button-icon.albumUnclicked,
.x-button .x-button-icon.songUnclicked, .x-button .x-button-icon.playlistUnclicked,
.x-button .x-button-icon.bassUnclicked, .x-button .x-button-icon.trebleUnclicked
{
    width: 100%;
    height: 100%;
}

.x-button .x-button-icon.x-button-icon.home {
    background-image: url('../icons/graphics/Music/Home_black-06.png');
}

.x-button .x-button-icon.artists {
    background-image: url('../icons/graphics/Music/Artists_black-06.png');
}

.x-button .x-button-icon.albums {
    background-image: url('../icons/graphics/Music/Albums_black-06.png');
}

.x-button .x-button-icon.songs {
    background-image: url('../icons/graphics/Music/Songs_black-06.png');
}

.x-button .x-button-icon.playlists {
    background-image: url('../icons/graphics/Music/Playlists_black-06.png');
}

.x-button .x-button-icon.repeat {
    background-image: url('../icons/graphics/Music/Repeat_black-06.png');
}

.x-button .x-button-icon.shuffle {
    background-image: url('../icons/graphics/Music/Shuffle_black-06.png');
}

.x-button .x-button-icon.bass {
    background-image: url('../icons/graphics/Music/Bass_black-06.png');
}

.x-button .x-button-icon.treble {
    background-image: url('../icons/graphics/Music/Treble_black-06.png');
}

/* Active Buttons */
.x-button.clickedButton .x-button-icon.x-button-icon.home {
    background-image: url('../icons/graphics/Music/Home_gray-06.png');
}

.x-button.clickedButton .x-button-icon.artists {
    background-image: url('../icons/graphics/Music/Artists_gray-06.png');
}

.x-button.clickedButton .x-button-icon.albums {
    background-image: url('../icons/graphics/Music/Albums_gray-06.png');
}

.x-button.clickedButton .x-button-icon.songs {
    background-image: url('../icons/graphics/Music/Songs_gray-06.png');
}

.x-button.clickedButton .x-button-icon.playlists {
    background-image: url('../icons/graphics/Music/Playlists_gray-06.png');
}

.x-button.clickedButton .x-button-icon.repeat {
    background-image: url('../icons/graphics/Music/Repeat_gray-06.png');
}

.x-button.clickedButton .x-button-icon.shuffle {
    background-image: url('../icons/graphics/Music/Shuffle_gray-06.png');
}

.x-button.clickedButton .x-button-icon.bass {
    background-image: url('../icons/graphics/Music/Bass_gray-06.png');
}

.x-button.clickedButton .x-button-icon.treble {
    background-image: url('../icons/graphics/Music/Treble_gray-06.png');
}

.x-button, .x-button.x-button-back:after, .x-button.x-button-forward:after, .x-toolbar .x-button, .x-toolbar .x-button.x-button-back:after, .x-toolbar .x-button.x-button-forward:after {
    background-image: none;
    color: black;
    background-color: #231f20;
    text-align: justify;
}

.x-button.clickedButton, .x-button.x-button-back:after, .x-button.x-button-forward:after, .x-toolbar .x-button, .x-toolbar .x-button.x-button-back:after, .x-toolbar .x-button.x-button-forward:after {
    background-color: black;
    color: #404041;
}

.x-button.x-button-pressing {
    background-color: black;
    background-image: none;
}

.x-button {
    border: none;
    -webkit-border-radius: 0em;
    border-radius: 0em;
    background-color: #404041;
    position: relative;
}

.x-button-label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    text-align: center;
    width: 90px;
}

#nowPlaying .x-button-label {
    position: absolute;
    top: 30%;
    font-size: 14px;
    text-align: center;
    width: 90px;
}

.x-button.clickedButton#nowPlaying > .x-button-label  {
    position: absolute;
    top: 30%;
    font-size: 14px;
    text-align: center;
    width: 90px;
    color: #61ff78;
}

.x-button .x-button-icon {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* data list styles */

.x-innerhtml {
    color: white;
}
.x-scroll-container {
    background-color: #231f20;
}

.x-list-normal .x-list-header-wrap .x-item-header, .x-list-normal .x-list-header {
    background-image: none;
    background-color: #231f20;
    border-top: none;
    border-bottom: none;
}

.x-dock, .x-dock-body {
    background-color: #404041;
}

/* Univers font */

@font-face {
    font-family: Univers;
    src: url("../Univers/UniversLTStd-Light.otf") format("opentype");
}

@font-face {
    font-family: Univers;
    font-weight: bold;
    src: url("../Univers/UniversLTStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: Univers;
    font-style: italic;
    src: url("../Univers/UniversLTStd-ExObl.otf") format("opentype");
}

@font-face {
    font-family: Univers;
    font-stretch: condensed;
    src: url("../Univers/UniversLTStd-LightCn.otf") format("opentype");
}


/*
now playing
light condensed
ALL UPPERCASE
below song name
lower case, still size 16.5 pt



highlighted


clock

number 40
date time - 16, all caps

*/
