@import '../common/import';

$tempLabelTop: 500px;
$tempIconTop: $tempLabelTop + 40;
$climateControlMargin: 40px;

#climateControlMainZone {

  .temp {
    @include alrightSans('bold', $fontSizeCaptionHeading);
  }

  .contentLeft {

    .temp {
      @include position($tempLabelTop, $climateControlMargin);
    }

    .personIcon {
      @include position($tempIconTop, $climateControlMargin);
    }
  }

  .contentRight {

    .temp {
      @include positionRight($tempLabelTop, $climateControlMargin);
    }

    .personIcon {
      @include positionRight($tempIconTop, $climateControlMargin);
    }
  }

  .icon > svg > * {
    stroke: $white;
  }

}