$white: rgb(255, 255, 255);
$gray: rgb(125, 128, 131);
$background: rgb(58, 58, 58);
$green: rgb(208, 221, 40);
$purple: rgb(102, 45, 145);

$gradientGreen: rgb(172, 221, 40);
$gradientBlue: rgb(49, 135, 127);
$gradientPurple: $purple;

$bezel: rgb(39, 37, 37);