@import 'constants';
@import 'colors';

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin position($top: 0, $left: 0, $width: 0, $height: 0, $zIndex: 0) {
  position: absolute;

  @if $top != 0 {
    top: $top;
  }
  @if $left != 0 {
    left: $left;
  }
  @if $width != 0 {
    width: $width;
  }
  @if $height != 0 {
    height: $height;
  }
  @if $zIndex != 0 {
    z-index: $zIndex;
  }
}

@mixin positionRight($top: 0, $right: 0, $width: 0, $height: 0, $zIndex: 0) {
  @include position($top, 0, $width, $height, $zIndex);
  right: $right;
}

@mixin positionBottomRight($bottom: 0, $right: 0, $width: 0, $height: 0, $zIndex: 0) {
  @include positionRight(0, $right, $width, $height, $zIndex);
  bottom: $bottom;
}

@mixin positionCentered($width: 0, $height: 0, $zIndex: 0) {
  @include positionCenteredHorizontal(50%, $width, $height, $zIndex);
  @include positionCenteredVertical(50%, $width, $height, $zIndex);
}

@mixin positionCenteredHorizontal($top: 0, $width: 0, $height: 0, $zIndex: 0) {
  @include position($top, 50%, $width, $height, $zIndex);

  @if $width != 0 {
    margin-left: -$width/2;
  }
}

@mixin positionCenteredVertical($left: 0, $width: 0, $height: 0, $zIndex: 0) {
  @include position(50%, $left, $width, $height, $zIndex);

  @if $height != 0 {
    margin-top: -$height/2;
  }
}

@mixin mask($mask, $top: 0, $left: 0, $divWidth: 0, $divHeight: 0, $zIndex: initial) {
  @include position($top, $left, $divWidth, $divHeight, $zIndex);
  -webkit-mask-image: url(#{"../svg/masks/" + $mask + ".svg"});
  -webkit-mask-position: $left * -1 $top * -1;
  -webkit-mask-size: $width $height;
}

@mixin svgColor($color: $gray) {
  * {
    stroke: $color;

    &:not([fill="none"]) {
      fill: $color;
      stroke: none;
    }
  }
}

@function stripUnits($number) {
  @return $number / ($number * 0 + 1);
}