.app {
  .header {
    position: absolute;
    width: 180px;
    height: 45px;
    margin-left: -90px;
    left: 50%
  }

  .contentLeft, .contentRight {
    width: 60%;
    height: 280px;
    top: 5px;
    float: left;
    z-index: 400;
  }

  .contentRight {
    width: 40%;
  }


  .hiddenContentLeft {
    z-index: 300;
    width: 60%;
    height: 280px;
    top: 5px;
    float: left;
    display: none;
  }


  @for $i from 1 through 5 {
    #{'.inputZone' + $i} {
      position: absolute;
      width: 100%;
      height: 69px;
      top: #{250 + ($i - 1) * 32}px;
      padding: 5px 17px;
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    height: 82px;
    bottom: 0;
  }
}