.list {
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 200px;
  margin: 20px;

  .listScroller {
    position: absolute;
    width: 100%;
    transition: top 0.5s ease-out;

    .listItem {
      transition: all 0.5s ease-out;
      padding: 5px;
      color: gray;
      font: {
        size : 13px;
      }

      &.selected {
        color: white;
      }
    }
  }
}